<!--<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>
  </ion-content>
</ion-view>-->
<ion-view title="Camera" ng-controller="cameraCtrl" id="page2">
    <ion-content padding="true" scroll="false" class="has-header has-footer">




    <button class="button button-full button-assertive" ng-click="takePhoto()">
            Take Photo
        </button>
        <button class="button button-full button-assertive" ng-click="choosePhoto()">
            Choose Photo
        </button>
        <center>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center"></center>
















        <!-- <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <div class="button-bar">
            <button ng-click="getPhoto()" id="camera-button9" class="button button-light  button-block icon ion-camera"></button>
            <button id="camera-button10" class="button button-light  button-block icon ion-ios-download"></button>
            <button id="camera-button11" class="button button-light  button-block icon ion-android-delete"></button>
        </div> -->
    </ion-content>

</ion-view>