<!--<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>-->
<ion-view title="Gallery" id="page3">
    <ion-content ng-controller="galleryCtrl" padding="true" class="has-header has-footer">
    <!-- <centre><img ng-show="imgURI !== undefined && imgURI !== '' " ng-src="{{imgURI}}" style="text-align: center"></center> -->
     <ion-card ng-repeat="pic in pics">
        
        <img src="{{pic.img}}"/>
        
        <ion-card-content>
          
          <ion-card-title>
            {{pic.title}}
          </ion-card-title>
          <textarea name="textArea" placeholder="Description goes here" rows="" cols="" ng-model="textArea">{{pic.description}}</textarea>
          <button ng-show="pic.description == null" ng-click="addPicDescription(pic, textArea)">Click to add description</button>
            
          

        </ion-card-content>


    </ion-content>
</ion-view>
