<ion-view title="Gallery" id="gallery">
    <ion-content padding="true" class="has-header has-footer">
     <button class="button button-dark button-block" ng-click="addMedia()">
        Add image
      </button>
      <br><br>
      <ion-card ng-repeat="image in images">
      <img ng-src="data:image/jpeg;base64,{{image}}"/>
        <ion-card-content>
          <ion-card-title>
            Test Card Title
            </ion-card-title>
          <p>
            This is a test card description.
          </p>
        </ion-card-content>
    </ion-card>
    <div class="button-bar">
            <button id="camera-button9" class="button button-light  button-block icon ion-camera"></button>
            <button id="camera-button10" class="button button-light  button-block icon ion-ios-download"></button>
            <button id="camera-button11" class="button button-light  button-block icon ion-android-delete"></button>
        </div>
  </ion-content>
</ion-view>